@model MyStore.Models.ViewModel.HomeProductVM

@{
    ViewBag.Title = "Customer Home Page";
    <link rel="stylesheet" type="text/css" href="~/Content/myStyle/CustomerHome.css" />
}

@*PHẦN BANNER*@
<section id="container-fluid banner">
    <div class="banner-content">
        <h2>Chào mừng đến trang web E-commerce</h2>
        <p>Anime</p>
    </div>
</section>

@* PHẦN TÌM KIẾM SẢN PHẨM *@
<section class="container-fluid search-section">
    <h2>Tìm kiếm sản phẩm</h2>
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        <div class="form-group search-container">
            @Html.TextBoxFor(m => m.SearchTerm, new
            {
           @class = "seach-input",
           placeholder = "Nhập tên, mô tả hoặc chủng loại sản phẩm"
       })
            <button type="submit" class="search-button">Tìm kiếm</button>
        </div>
    }
</section>
<hr />

@* PHẦN SẢN PHẨM NỔI BẬT *@
@Html.Partial("_PVFeatureProduct", Model)

@* PHẦN SẢN PHẨM MỚI *@
@Html.Partial("_PVNewProduct", Model)

