@model MyStore.Models.ViewModel.ProductSearchVM

@{
    ViewBag.Title = "Customer Home Page";
   <link rel=" stylesheet" type="text/css" href="~/Content/myStyle/CustomerHome.css"/>
}

<section class=" container-fluid banner">
    <div class=" banner-container">
        <h2> Chao mung den trang web E-commerce</h2>
        <p>Mua sam truc tuyen voi hang ngan san pham da dang va chat luong</p>
        <a href=" #" class=" btnBanner">Bat dau mua sam</a>
    </div>
</section>

<section class=" container-fluid searchProd">
    <h2>Tim kiem san pham</h2>
    @using (Html.BeginForm("Index","Home",FormMethod.Get))
            {
                <div class=" form-group searcj-container">
                    @Html.TextBoxFor(m=>m.SearchTerm, new
               {
                   @class = "search-input",
                   placeholder="Nhap ten, mo ta hoac chung loai san pham"
               })
                    <button type="submit" class="search-button">Tim kiem</button>
                </div>
            }
</section>
<hr/>