@model MyStore.Models.ViewModel.ProductSeatchVM

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_AdminLayout.cshtml";
}
<html>
<head>
    <meta name="viewport " content=" width=device-width"/>
    <title>Search</title>
    <style>
        .search-container, .order-container {
            padding-top:20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm("Index", "Products", FormMethod.Get))
            {
                <div class=" form-group search-container">
                    @Html.TextBoxFor(m => m.SearchTerm, new
               {
                   @class ="form-control",
                   PlaceHolder= "Nhap ten, mo ta hoac chung loai san pham"
               })
                    <button type="submit" class="btn btn-primary">Tìm kiếm </button>
                </div>
            }
    @Html.Partial("ProductListPV",Model)
</body>
</html>
